* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} 

.body {
    height: 735px;
}

.grid-container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    font-family: 'Lato', sans-serif;
    align-items: center;
    justify-content: center;
  }
  .grid-container > div {
    text-align: center;
    font-size: 30px;
    height: 735px;
  }

